@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;800;900&family=Roboto:wght@100;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  
}
:root{
  --bg-color:#081b29;
  --second-bg-color:#112e42;
  --text-color:#ededed;
  --main-color:#00abf0;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
 
}

.header
{
 position: fixed;
  top:0;
  left: 0;
  width:100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:10000;


}


.logo
{
  font-size:2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a
{
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active
{
  color: var(--main-color);
}

#menu-icon
{
font-size:3.6rem;
color: var(--text-color);
cursor: pointer;
display:none ;
}

section
{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.home
{
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url('./assets/me.png') no-repeat;
  background-size: 40rem;
  background-position: right;
  
}
.home-content
{
  width: 150rem; 
   display: block;


}

.home-content h1
{
  font-size:5.6rem;
  font-weight: 700;
  line-height:1.3;
}

.home-content .text-animate
{
  position: relative;
  width: 35rem;
}

.home-content .text-animate h3{
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke:.7px var(--main-color);
}

.home-content p
{
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box
{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;

}

.btn-box .btn
{
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 15rem;
   height: 100%;
   background: var(--main-color);
   border: .2rem solid var(--main-color);
   border-radius: .8rem;
   font-size: 1.8rem;
   font-weight: 600;
   letter-spacing: .1rem;
   color: var(--bg-color);
   z-index: 1;
   overflow: hidden;
   transition: .5s;

}
.btn-box .btn:hover
{
color: var(--main-color);
}

.btn-box .btn:nth-child(2)
{
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover
{
  color: var(--bg-color);
}


.btn-box .btn:nth-child(2)::before
{
background:var(--main-color) ;
}

.btn-box .btn::before
{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background:var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover:before
{
width: 100%;
}

.home-sci
{
  position: absolute;
  bottom: 4rem ;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover
{
  color: var(--bg-color);
}

.home-sci a::before
{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background:var(--main-color);
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover:before
{
  width: 100%;
}

.home-imgHover
{
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--bg-color);
  transition: 3s;
  display: block;

}

.home-imgHover:hover
{
  background: var(--bg-color);
  opacity:.8
}

.about
{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;

}
.heading
{
  
  margin-bottom: 3rem;
  text-align: center;
  font-size:5rem;

}

span{
color: var(--main-color);
}

.about-img
{
position: relative;
width:25rem;
height: 25rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.about-img img
{
  width:90%;
  border-radius: 50%;
  border:.2rem solid var(--main-color);
}
.about-img .circle-spin
{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);

}

.about-content
{
  text-align: center;
}
.about-content h3 
{
  font-size: 2.6rem;
}
.about-content p
{
  font-size:1.6rem ;
  margin: 2rem 0 3rem;
}
.btn-box.btns
{
  display: inline-block;
  width: 15rem;
  

}
.btn-box.btns a::before
{
  background: var(--second-bg-color);
}

.skills {
  min-height: auto;
  padding-bottom: 2rem;
  background: var(--second-bg-color);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content {
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: .3rem;
  background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 85%;
}

@media (max-width: 768px) {
  .skills .skills-row {
    flex-direction: column;
    gap: 3rem;
  }

  .skills-column {
    width: 100%;
  }

  .skills-column .title {
    font-size: 2rem;
  }

  .skills-content .progress h3 {
    font-size: 1.5rem;
  }

  .skills-content .progress h3 span {
    font-size: 1.3rem;
  }

  .skills-content .progress .bar {
    height: 2rem;
  }

  .skills-content .progress .bar span {
    height: 100%;
    border-radius: .3rem;
  }

  .skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
  }

  .skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
  }

  .skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
  }

  .skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 85%;
  }

  .skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 70%;
  }

  .skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
  }

  .skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
  }

  .skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 60%;
  }

  .skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
  }

  .skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
  }
}



.contact-us {
background-color: #ffffff;
padding: 40px 20px;
margin: 40px auto;
max-width: 1000px;
border-radius: 10px;
height: 2rem;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.contact-container {
text-align: center;
}

.contact-us h2 {
font-size: 28px;
color: #333;
margin-bottom: 15px;
font-weight: 600;
}

.contact-us p {
font-size: 16px;
color: #666;
margin-bottom: 30px;
}

.contact-item {
margin-bottom: 20px;
}

.contact-item strong {
font-size: 18px;
font-weight: 600;
color: #333;
}

.contact-item a {
display: inline-block;
margin-top: 5px;
font-size: 16px;
color: #0077b5;
text-decoration: none;
transition: color 0.3s;
}

.contact-item a:hover {
color: #005b8f;
}

.contact-item span {
font-size: 16px;
color: #333;
}


*, *:before, *:after {
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


body, button, input {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
letter-spacing: 1.4px;
}

.background {
display: flex;
min-height: 100vh;
}

.container {
flex: 0 1 700px;
margin: auto;
padding: 10px;
}

.screen {
position: relative;
background: #3e3e3e;
border-radius: 15px;
}

.screen:after {
content: '';
display: block;
position: absolute;
top: 0;
left: 20px;
right: 20px;
bottom: 0;
border-radius: 15px;
box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
z-index: -1;
}

.screen-header {
display: flex;
align-items: center;
padding: 10px 20px;
background: #4d4d4f;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.screen-header-left {
margin-right: auto;
}

.screen-header-button {
display: inline-block;
width: 8px;
height: 8px;
margin-right: 3px;
border-radius: 8px;
background: white;
}

.screen-header-button.close {
background: #ed1c6f;
}

.screen-header-button.maximize {
background: #e8e925;
}

.screen-header-button.minimize {
background: #74c54f;
}

.screen-header-right {
display: flex;
}

.screen-header-ellipsis {
width: 3px;
height: 3px;
margin-left: 2px;
border-radius: 8px;
background: #999;
}

.screen-body {
display: flex;
}

.screen-body-item {
flex: 1;
padding: 50px;
}

.screen-body-item.left {
display: flex;
flex-direction: column;
}

.app-title {
display: flex;
flex-direction: column;
position: relative;
color: #ea1d6f;
font-size: 26px;
}

.app-title:after {
content: '';
display: block;
position: absolute;
left: 0;
bottom: -10px;
width: 25px;
height: 4px;
background: #ea1d6f;
}

.app-contact {
margin-top: auto;
font-size: 8px;
color: #888;
}

.app-form-group {
margin-bottom: 15px;
}

.app-form-group.message {
margin-top: 40px;
}

.app-form-group.buttons {
margin-bottom: 0;
text-align: right;
}

.app-form-control {
width: 100%;
padding: 10px 0;
background: none;
border: none;
border-bottom: 1px solid #666;
color: #ddd;
font-size: 14px;
text-transform: uppercase;
outline: none;
transition: border-color .2s;
}

.app-form-control::placeholder {
color: #666;
}

.app-form-control:focus {
border-bottom-color: #ddd;
}

/*
.app-form-button {
background: none;
border: none;
color:var(--main-color);
font-size: 14px;
cursor: pointer;
outline: none;
justify-content: space-between;
}

.app-form-button:hover  {
color: var(--second-bg-color);
}

*/



@media screen and (max-width: 520px) {
.screen-body {
  flex-direction: column;
}

.screen-body-item.left {
  margin-bottom: 30px;
}

.app-title {
  flex-direction: row;
}

.app-title span {
  margin-right: 12px;
}

.app-title:after {
  display: none;
}
}

@media screen and (max-width: 600px) {
.screen-body {
  padding: 40px;
}

.screen-body-item {
  padding: 0;
}
}

#btns{
width: 8rem;
height: 2rem;
align-items: center;
}


/*.home-imgHover 
{
width:90%;
border-radius: 50%;
border:.2rem solid red;
}*/
.home-imgHover .circle-spin
{
position: absolute;
top:55%;
left: 52%;
margin-left: 11rem;
transform: translate(-50%,-50%) rotate(0);
width: 60%;
height: 70%;
border-radius: 50%;
border-top: .2rem solid var(--bg-color);
border-bottom: .2rem solid var(--bg-color);
border-left: .2rem solid var(--main-color);
border-right: .2rem solid var(--main-color);
}

@media screen and (max-width: 900px){
.navbar a{
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight:300;
  margin-left: 3rem;
  transition: .3s;

}

.home-content h1
{
font-size:5rem;
font-weight: 500;
}
.home-content p
{
font-size: 0;
margin: 1rem;
}
.home-imgHover
{
position: absolute;
top: 0;
right: 0;
width: 0;
height: 0;
background: transparent;

transition: 3s;
} 
.home-imgHover .circle-spin
{
position: absolute;
top:55%;
left: 52%;
margin-left: 0;
transform: translate(-50%,-50%) rotate(0);
width: 0;
height:0;
border-radius: 50%;
border-top: 0 solid var(--bg-color);
border-bottom: 0 solid var(--bg-color);
border-left: 0 solid var(--main-color);
border-right: 0 solid var(--main-color);
}
.home-imgHover:hover
{

opacity:0;
}
.home-content{
display: block;
}
.home-imgHover{
display: block;
}
}
#slides{
padding: 5vw 5vw;
display: flex;
justify-content: space-between;
}
#slides #slide{
width: 26%;
}
#slide #img{
width: 100%;
height: 300px;
background-color: aqua;
}
#slide #img img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;
overflow: hidden;
}

/* #slide #tag{
width: fit-content;
background-color: rgb(74, 69, 69);
padding: 9px 9px;
border-radius: 100px;

font-size: 1.5vh;
margin:2rem;
}
#slide #tag:hover{
background-color:rgb(236, 140, 172);
color: white;
} */
/* #slide h3{
font-size: 1.3vw;
font-weight: 400;
letter-spacing: -.5px;
} */
.projects {
  padding: 20px;
  background-color: #081b29;
}

#slides {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#slide {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 45%;
  max-width: 400px;
  min-width: 280px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

#slide:hover {
  transform: scale(1.05);
}

#img {
  width: 100%;
  height: auto;
}

#img img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e0e0e0;
}

#content {
  padding: 15px;
}

.projectTitle {
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 12px;
  color: #4b4b57;
}

.projectTitle:hover {
  color: #bbbbc6;
}

.description {
  margin-top: 10px;
  font-size: 1rem;
  color: #6c757d;
}

.button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #081b29;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00abf0;
}

@media (max-width: 768px) {
  #slides {
    flex-direction: column;
    gap: 15px;
  }

  #slide {
    width: 90%;
    margin: 0 auto;
  }

  .projectTitle {
    font-size: 1.4rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

#download-container {
  text-align: center;
}

h1 {
  color: #333;
}

#download-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  animation: fadeIn 1s ease-out;
}

#download-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.contact{
  background-color: #112e42;
}

.contact-form-container {
  max-width: 90%;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .contact-form-container {
    width: 95%;
    padding: 15px;
    margin-right: 50%;
  }
}

.contact-form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #081b29;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

.form-textarea {
  height: 120px;
  resize: none;
}

.form-button {
  padding: 12px 20px;
  background-color: #081b29;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color:#00abf0 ;
}
